*.aux
*.log
*.out

__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store


.idea/
*.pt
src/models/punctuation_restoration/data/bn
src/models/punctuation_restoration/data/en
.vscode


brief_model/train_model
*.zip
*.zip*